html {
  color: white;
  background: #242729;
  padding: 40px;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;

  .avatar, .data {
    display: inline-block;
    margin: 10px;
  }
}

.avatar {
  img {
    height: 50px;
    width: 50px;
  }
}

img.circular {
  border-radius: 50%;
}
